<div class="welcome_cont">
    <h2 ng-hide="loaded">Loading...</h2>

    <div ng-show="checkins">
        <h3>There are {{ checkins.length }} checked in users for this meetup</h3>

        <h4>Raffle: </h4>
        <h3>Raffle <input class="number_of" maxlength="3" ng-model="number_of_prizes"/> licenses</h3>

        <div id="sm" ng-show="number_of_prizes">
            <div class="group lever">
                <button ng-click="action()">Start</button>
            </div>
            <div class="group">
                <div class="reel" ng-repeat="reel in getNumberOfPrizes()">
                    <div>
                        <p ng-repeat="checkin in getCheckinsByPage(reel)" style="{{checkin.attributes.color}}"> {{ checkin.attributes.user_name }}</p>
                    </div>
                    <div>
                        <p ng-repeat="checkin in getCheckinsByPage(reel)" style="{{checkin.attributes.color}}"> {{ checkin.attributes.user_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>