<div class="welcome_cont">
	<h2>Welcome {{user.first_name}}!</h2>

	<div ng-show="future_events.length">
		<h3>Here are the upcoming events in the group</h3>
		<table class="table table-striped">
			<thead>
			<tr>
				<td>Title</td>
				<td>Date</td>
				<!--<td>RSVP</td>-->
				<td>CheckIns</td>
			</tr>
			</thead>
			<tbody>
			<!--<span class="small">(<a class="full_desc">full desc.<div class="full_description hide well" ng-bind-html-unsafe="meetup.description"></div></a>)</span>-->
			<tr ng-repeat="meetup in future_events">
				<td>{{meetup.name}}
					<span class="small">(<a class="full_desc" ng-click="showLongDesc(meetup.description)">full
						desc</a>)</span>
				</td>
				<td>{{meetup.time | date : 'MMM d, yyyy' }}</td>
                <td ng-show="(meetup.self.rsvp.response == 'yes')"><a class="btn btn-primary" href="#/checkin/{{ meetup.id }}">CheckIn</a></td>
                <td ng-hide="(meetup.self.rsvp.response == 'yes')">Please RSVP to checkin!</td>
                <td ng-show="isEventHost(meetup.event_hosts, user.id)"><a class="btn btn-primary" href="#/raffle/{{ meetup.id }}">See check-ins for this meetup</a></td>
				<!--<td><a class="btn btn-primary" ng-click="popup()">Leave feeback</a></td>-->
			</tr>
			</tbody>
		</table>
	</div>

	<div ng-show="events.length">
		<h3>You have attended {{events.length}} meetups. Please take the time to leave us feedback.</h3>

		<table class="table table-striped">
			<thead>
			<tr>
				<td>Title</td>
				<td>Date</td>
				<td >Feedback</td>
				<td ng-show="isEventHost(meetup.event_hosts, user.id)">Admin</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="meetup in events" id="{{meetup.id}}">
				<td>{{meetup.name}} <span class="small">(<a class="full_desc" ng-click="showLongDesc(meetup.description)">full
										desc</a>)</span></td>
				<td>{{meetup.time | date : 'MMM d, yyyy' }}</td>
				<!--<td ng-show="(meetup.self.rsvp.response == 'yes')"><a class="btn btn-primary" ng-click="popup()">Leave-->
					<!--feeback</a></td>-->
                <td><a class="btn btn-primary" href="#/checkin/{{ meetup.id }}">CheckIn</a></td>
                <td ng-show="isEventHost(meetup.event_hosts, user.id)"><a class="btn btn-primary"
                                                                          href="#/raffle/{{ meetup.id }}">See check-ins
                    for this meetup</a></td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="well animated" id="anim">
		<div class="btn btn-mini"><i class="icon-remove"></i></div>
		<div class="cont"></div>
	</div>
</div>